################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Proyecto/NetCoreConfVirtual/.vs/NetCoreConfVirtual
/Proyecto/NetCoreConfVirtual/NetCoreConfVirtual.API.Avengers/bin/Debug/netcoreapp3.1
/Proyecto/NetCoreConfVirtual/NetCoreConfVirtual.API.Avengers/obj
